<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-5">Welcome to GYM Task</h1>
            <div class="mt-5">
                <a href="/traineeLogin" class="btn btn-primary btn-lg">Trainee Login</a>
                <a href="/trainerLogin" class="btn btn-secondary btn-lg">Trainer Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>